@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    P.O. Box What?<br />
    Burley, WA 98320<br />
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:info@appagare.com">info@appagare.com</a>
</address>