@{
    ViewBag.Title = "Home Page";
}


<p>Provide Guardianship financial reporting to Washington state courts for one or more wards.</p>
<div class="row">
    <div class="col-md-4">
        Step 1. Create ward records.
    </div>
    <div class="col-md-4">
        Step 2. Select a ward and generate a report.
    </div>
    <div class="col-md-4">
       Step 3. Enter the financial details into the report for each month. Generate the final PDF report suitable for filing with the courts.
    </div>
</div>